body {
    background-color: rgba(12, 12, 12, 0.854);
    text-align: center;
    color: rgb(250, 246, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.deck {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);

   /* display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding-left: 23%;*/
}

.card {
    width: 50%;
    height: 65%;
    /* aspect-ratio: 7/9; */
    border: 1px solid rgb(250, 246, 246);
    border-radius: 5px;
    font-size: 60px;
    padding-top: 20px;
    color: rgb(246, 246, 252);
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(173, 8, 8);
}
/* .div { 
    font-size: 50px;
    color: rgba(0, 0, 0, 0);


 .div:hover { 
    color: rgba(0,0,0,1);
*/